.finish{
    background-image: url("./finishimg/finish.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    position: relative;
}
.finish p{
    position: absolute;
    top: 24%;
    left: 17%;
    letter-spacing: 2px;
    font-size: 75px;
    color: #002f6d;
}
.finish p span{
    font-size: 100px;
    font-weight: bold;

}
.share{
    position: absolute;
    bottom: 7%;
    right: 7%;
    width: 320px;
    height: 60px;
    font-size: 36px;
    text-transform: uppercase;
    border: 1px solid black;
    background: #feaf00;
    cursor: pointer;
    color: white;
}
.leaders{
    position: absolute;
    bottom: 17%;
    right: 7%;
    width: 320px;
    height: 60px;
    font-size: 36px;
    text-transform: uppercase;
    border: 1px solid black;
    background: #feaf00;
    cursor: pointer;
    color: white;
}
.Leader{
    display: none;
}
.LeaderB{
    display: block;
    width: 100vw;
    height: 100vh;
    background-image: url("./finishimg/arajatarner.png");
    background-size: 100% 100%;
    z-index: 9;
}
.Table{
    width: 50%;
    height: 200px;
    background-color: red;
    margin: 0 auto;
}
table{
    margin: 0 auto;
    border: 2px solid white;
    position: absolute;
    top: 15%;
    left: 22%;
}
tr>td{
    border-bottom: 2px solid white;
    font-size: 40px;
    color: #002F6D;
}
.leaderstitle {
    position: absolute;
    top: 1%;
    left: 35%;
}
.leaderstitle h2 {
    color: #002F6D;
}