.rightModal{
  background-image: url("./rightanswerimg/RightCPY.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  top:0;
  height: 702px;
  z-index: 2;
  position: absolute;
  left: 0%;
}
.rightall{
  position: relative;
}
.closemodal{
  position: absolute;
  right: 10%;
  margin-top: 63vh;
  z-index: 2;
  background: #feaf00;
  color: white;
  font-size: 30px;
  text-align: center;
  padding:5px 15px;
}